/* mobile device responsive */

@media screen and (max-width: 576px) {      
    /* navigation mobile device part */
    .navigation{
        margin: 35px 0;
    }
    .check-btn{
        display: block;
    }
    .navigation > .nav{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;
        position: fixed;
        width: 100%;
        height: 80vh;
        background: var(--third-color);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all ease 0.3s;
    }
    #check{
        display: none;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .website-name{
        gap: 8px;
    }
    .website-name img {
        width: 32px;
    }
    .website-name .web-text {
        font-size: 1.375rem;
    }
    /* primary btn */
    .primary-btn{
        padding: 14px 42px;
    }
      /* banner mobile device section css style */
      #banner{
        height: 80vh;
    }
    .banner-text {
        padding-top: 32px;
        width: 90%;
        margin-bottom: 32px;
    }
    .banner-text .banner-title{
        font-size: 1.375rem;
    }
    .banner-text .banner-description{
        font-size: 0.875rem;
        line-height: 21px;
    }
    .banner-form input, .banner-form select{
        width: 100%;
    }
    .banner-form {
        width: 85%;
        padding: 16px 20px;
        flex-direction: column;
        gap: 16px;
    }
}